@import url('https://fonts.googleapis.com/css2?family=Lato&family=Righteous&display=swap');

/* HTML Tags */


* {
    margin: 0px;
    padding: 0px;
    outline: none;
    
}

textarea {
    background: #f0f0f0;
    width: 100vw;
    height: 50vh;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    
}

ul {
    list-style: none;

}

input {
    font-family: 'Lato', sans-serif;
}

#compose-view h3 {
    text-align: center;
    font-family: "Righteous", sans-serif;

}

#compose-view {
    display: flex;
    width: 90vw;
    transform: translateX(-50%);
    margin-left: 47vw;
    flex-direction: column;
    justify-content: space-around;



    

}

#compose-view input {
    margin: -10px 0 15px 70px; 
    width: 200px;
    
}



/* Classes */
.menu-btn {
    border: 1px solid #db3434;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "Righteous", cursive;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px;
    color: #fff;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    width: 180px;

}
.menu-btn:hover {
    color: #db3434;
}

.menu-btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 180%;
    background: #db3434;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
}


.menu-btn:hover::before {
    height: 0%;
}

.read, .unread {
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    animation-name: hide-div;
    animation-duration: 2s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    display: grid;
    grid-template-areas: 
    "title title btn-container"
    "body body btn-container";
    position: relative;
    justify-content: space-around;
    align-items: center;
    size: 100%;

}

.btn-container {
    grid-area: btn-container;
}

#form-form {
    align-items: space-around;
    position: absolute;
    top: 60vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
} 

.mail-body {
    font-family: "Lato", sans-serif;
    grid-area: body;
}


.title {
    font-family: "Lato", sans-serif;
    grid-area: title;
    text-decoration: bold;

}

.read {
    color: black;
    background: #f0f0f0;

}

.unread {
    border-color: #db3434;
    background: white;
}

.post-btn {
    height: 40px;
    background: none;
    border: 2px solid; 
    color: #1e1e1e;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    animation-name: hide-btn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.post-btn::before, .post-btn::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 2px;
    background: #f0f0f0;
    transform: skewX(50deg);
    transition: 0.4s linear;

}


.post-btn:before {
    top: -2px;
    left: 10%;
}

.post-btn::after {
    bottom: -2px;
    right: 10%;

}


.post-btn:hover::before {
    left: 80%;
}

.post-btn:hover::after {
    right: 80%;
}

.form-control {
    border-radius: 20px;
    position: relative;
    border: 2px solid gray;
    margin-top: -25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;




}




.login-form {
    text-align: center;
    background: none;
    width: 300px;
    transition: width 1s ease;
    border-radius: 70px;
    padding: 20px;
    margin-bottom: 70px;
    outline: none;
    border: 1px solid #db3434;
    font-size: 20px;



}

.danger, .success {
    font-family: "Lato", sans-serif;
    position: absolute;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    padding: 10px;
    top: 0;
    left: 0;
    font-weight: bolder;
    display: flex;
    width: 100vw;
}

.danger {
    background: #ffa0a0;
    color: #db3434;
}

.success  {
    background: #a0ffa0;
    color: green;       
}


.login-form:focus {
    width: 300px;
}




label {
    text-align: left;
    position: absolute;
}
.form-control:focus {
    border: 2px solid #db3434;
}


.mail {
    width: 100%;
}

#mail-view {
    font-family: "Lato", sans-serif;
    display: flex;
    transform: translateX(-50%);
    position: absolute;
    left: 50vw;
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100%;

    
}


.info {
    justify-content: space-between;
    display: flex;
    color: #a0a0a0;
    width: 100%;
    text-align: center;
}
#mail-view p {
    border: 2px solid #db3434;
    padding: 2vw;
    border-radius: 20px;
    max-width: 100%;
}

#mail-view h1 {
    text-align: center;
    font-family: "Righteous", cursive;


}

.form-group {
    padding: 10px;
}



/* Animations */ 
@keyframes hide-div {
    0% {
          
        left: 0%;
        opacity: 1;
        height: 100px;
        line-height: 100%;
        padding: 10px;
        margin: 10px;
        font-size: 100%;
    }
    75% {
        left: 50%;
        opacity: 0;
        height: 100px;
        line-height: 100%;
        padding: 10px;
        margin: 10px;
        font-size: 100%;
    }

    100% {
        left: 100%;
        opacity: 0;
        height: 0px;
        line-height: 0%;
        padding: 0px;
        margin: 0px;
        font-size: 0px;
    }
}



/* ID */

#menu {
    text-align: center;
    font-family: "Righteous", cursive;
    margin-top: 70px;

}

#emails-view {
    margin: 2vmax;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 20px;
}

.form-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;



}

#title {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-family: "Righteous", cursive;
}

.form-group {
    margin-bottom: 20px;

}




#compose-form {
    font-family: 'Righteous', cursive;


}

#compose-body {
    margin-left: 20px;
    margin-top: 0px;
    width: 90vw;

}


@media screen and (max-width: 600px) {
    #compose-view label {
        display: none;
    }

    #compose-view input {
        width: 95vw;

    }

    #compose-view {
        margin: 0;
        transform: translateX(0%);

    }
}
