{% load static %}

<!DOCTYPE html>

<html lang="pt">
    <head>
        <meta charset="UTF-8">
 
        <!---- Title ---->
        <title>{% block title %}{% endblock %}</title>

        <!---- Style --->
        <link rel="stylesheet" type="text/css" href="{% static 'encyclopedia/styles.css' %}">
        <script src="https://kit.fontawesome.com/f0d3ee0f06.js" crossorigin="anonymous"></script>

        <!---- Icon ---->
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'encyclopedia/icons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'encyclopedia/icons/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'encyclopedia/icons/favicon-16x16.png' %}">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    </head>

    <body>
        <!---- Navbar ---->
        <div class="search-box">
            <form method="POST" action="{% url 'search' %}">
                {% csrf_token %}
                <input class="search-text" type="text" name="q" placeholder="Search Encyclopedia">
                <span class="search-btn"><i class="fas fa-search"></i></span>
            </form>
        </div>


        <nav class="navbar">

            <!-- Title -->
            <li class="logo">
                <a class="logo-link" href="{% url 'index' %}">
                    <span class="logo-text">
                        Wiki
                    </span>
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </li>

                               
            <!--- Links --->
            <ul class="navbar-nav">

                <!-- Searchbox -->
                    

                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">
                        <i class="fas fa-home"></i>
                        <span class="link-text">
                            Home
                        </span>
                    </a>
                </li>

                <!-- New Article -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new' %}">
                        <i class="fas fa-plus-square"></i> 
                        <span class="link-text">
                           New Page
                        </span>
                    </a>
                </li>

                <!-- Random Article -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'random' %}">
                        <i class="fas fa-random"></i>
                        <span class="link-text">
                            Random
                        </span>
                    </a>
                </li>




            </ul>
            {% block nav %}
            {% endblock %}
        </nav>

        <!---- Article ---->
        <div class="main">
            {% block body %}
            {% endblock %}
        </div>

    </body>
</html>
