{% extends "encyclopedia/layout.html" %}
{% block title %}
New Article 
{% endblock %}



{% block body %}

<h1>New Article</h1>

<!-- Displaying the messages -->
{% if message %}

<h3 class="danger-message"></h3>
{% endif %}

{% if file %}
<div class="danger-message">
    <h3>File {{ file }} already exists. Do you want to <a href="{% url 'edit' file %}">edit?</a> </h3>
</div>
{% endif %}


<form action="{% url 'new' %}" method="post" id="new-form">
    {% csrf_token %}
    <input type="text" class="new-article" id="new-title" name="title" placeholder="Title">
    <textarea class="new-article" id="new-body" name="body" placeholder="Body">
        
    </textarea>
    <input type="submit" value="Publish" class="submit-btn">

</form>


{% endblock %}
