{% extends "auctions/layout.html" %}
{% load static %}



{% block head %}
<link rel="stylesheet" href="{% static 'auctions/auction.css' %}">
{% endblock %}
{% block body %}
{% if message %}
<div id="danger">
    {{ message }}
</div>
{% endif %}

{% if listing.is_closed and request.user.is_authenticated %}
    {% if listing.winner == request.user.username %}
    <div class="winner">
        Congratulations, <em>{{ request.user.username }}</em>! You won this auction!
    </div>
    {% endif %}

{% endif %}

<div class="listing-container">
    <div class="listing-card">
        <div class="head">
            <div class="start">

                Start bid: ${{ listing.starting_bid }}

            </div>
            
            {% if not listing.is_closed %}
            <div class="current">
                Current bid: ${{ listing.current_bid }}
            </div>
            {% else %}
            <div class="closed">
                Closed
            </div>

            {% endif %}
            
        </div>
        <h2 class="card-title">
                {{ listing.title }}
        </h2>
        <div class="product">
            {% if listing.image_url %}
                <img src="{{listing.image_url}}" width=200px height=auto>
            {% else %}
                <img src="{% static 'auctions/images/default.jpg'%}">
            {% endif %} 

        </div>
        <div class="text">
            <div class="title">
                <h3>Auction by <a href="{% url 'user_page' listing.user.username %}">{{ listing.user.username }}</h3></a>
                <p>{{ listing.description }}</p>
            </div>
            {% if listing.is_closed %}
                <p><i class="fas fa-star"></i>&nbsp;Winner: <a href="{% url 'user_page' listing.winner %}">{{ listing.winner }}</a></p>
            {% endif %}

        </div>
        <div class="footer">

            <!-- Make bids -->
            <div class="action">
                {% if request.user is not None %}
                {% if request.user.username == listing.user.username %}


                {% elif not listing.is_closed  %}
                    {% if user_bid is None %}
                    <form action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        <input class="text-box" type="number" name="add_bid">
                        <input class="bid-btn" type="submit" value="Make Bid">
                    
                    </form>
                    {% else %}
                        <form action="{% url 'listing' listing.id %}" method="post">
                            {% csrf_token %}
                        
                            <input class="text-box" type="number" name="updated_bid" >
                            <input class="bid-btn" type="submit" value="Update Bid">
                        
                        </form>



                    {% endif %}

                {% endif %}
            {% endif %}


            </div>

            <!-- Add Watchlist -->
            <div class="cart">
                {% if request.user is not None %}
                {% if listing.user.id == request.user.id %}
                    {% if not listing.is_closed %}
                    <form action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" name="close_listing" value="Close Listing">
                    </form>
                    {% endif %} 
            
                {% else %}
                    {% if user in non_watchers or not request.user.is_authenticated %}
                        <form action="{% url 'listing' listing.id %}" method="post">
                            {% csrf_token %}
                            <i class="fas fa-eye"><input class="watch" type="submit" name="add_watchlist" value="Add Watchlist"></i>
                        </form>

                    {% else %}
                        <form action="{% url 'listing' listing.id %}" method="post">
                            {% csrf_token %}
                            <i class="fas fa-eye-slash"><input class="watch" type="submit" name="remove_watchlist" value="Remove Watchlist"></i>
                        </form>
                    {% endif %}
                {% endif %}
                {% endif %}

            </div>

        </div>


    </div>

<div id="bids">
<!-- Bids Card -->
<h2>Bids:</h2>
<ul class="listing-list">
    {% for bid in listing_bids %}
        <li>
            <div class="user-bid">

            <a href="{% url 'user_page' bid.user.username %}">
                {{ bid.user.username }}
            </a>
            offered ${{ bid.bid }}



            </div>
        </li>

    {% empty %}
        <li>No bids yet.</li>
    {% endfor %}
</ul>
</div>

<!-- Comments card -->
<div id="comments">
    <h2>Comments:</h2>
    <ul class="listing-list">
        {% for comment in comments %}
            <div class="user-comment">
                <h5>{{ comment.user.username }} commented:</h5>
            
                <ul class="listing-list">
                    <li>{{ comment.comment }}</li>
                
                </ul>
            </div>
                {% empty %}
                <li>No comments yet!</li>
        {% endfor %}


    </ul>

    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        <textarea class="listing-input" name="new_comment" placeholder="Comment here"></textarea>
        <input type="submit" class="bid-btn" value="Publish">
    </form>
    </div>
</div>



<h2 id="subtitle">Related items</h2>
<hr id="hr2">


{% endblock %}






