{% extends "auctions/layout.html" %}

{% block body %}

{% if message %}
<div class="alert alert-danger">
    {{ message }}
</div>
{% endif %}

{% if listing.is_closed %}
    {% if listing.winner == request.user.username %}
    <div class="alert alert-success">
        Congratulations, <em>{{ request.user.username }}</em>! You won this auction!
    </div>
    {% endif %}
    <h1>This listing is closed.</h1>
    <h2>Winner: {{ listing.winner }}</h2>



{% endif %}
<h1>{{ listing.title }}</h1>
{% if listing.user.id == request.user.id %}
        {% if not listing.is_closed %}
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" name="close_listing" value="Close Listing">
        </form>
        {% endif %}


{% else %}
    {% if user in non_watchers %}
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" name="add_watchlist" value="Add Watchlist">
        </form>
        {% else %}
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" name="remove_watchlist" value="Remove Watchlist">
        </form>
    {% endif %}
{% endif %}




<h2>Auction by {{ listing.user.username}}</h2>
    <ul>
        <li>
            Start bid: ${{ listing.starting_bid}}
        </li>

        <li>
            Description:
            <p>{{ listing.description }}</p>
        </li>

        <li>
            {% if listing.category %}
                Category: {{listing.category}}
            {% endif %}
        </li>
        <li>

            {% if listing.image_url %}
                Image:
                <img src="{{listing.image_url}}" width=200px height=auto>
            {% endif %}

        </li>

        <li>
            Current Bid: ${{listing.current_bid}}
        </li>
        <li>
            Current Winner: {{listing.winner}}
        </li>


    </ul>






{% if request.user.username == listing.user.username %}


{% elif not listing.is_closed  %}
    {% if user_bid is None %}
    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        <input type="number" name="add_bid" min="{{listing.current_bid}}">
        <input type="submit" value="Make Bid">

    </form>
    {% endif %}

{% endif %}

<h2>Bids:</h2>
<ul>
    {% for bid in listing_bids %}
        <li>

            <a href="{% url 'user_page' bid.user.username %}">
                {{ bid.user.username }}
            </a>
            offered $
                {{ bid.bid }}

            {% if bid.user.username == request.user.username and not listing.is_closed %}
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}

                <input type="number" name="updated_bid" placeholder="{{bid.bid}}" min="{{bid.bid}}">
                <input type="submit" value="Update Bid">

            </form>




            {% endif %}
        </li>

    {% empty %}
        <li>No bids yet.</li>
    {% endfor %}
</ul>


<h2>Comments:</h2>
<ul>
{% for comment in comments %}

    <li>{{ comment.user.username }} commented: </li>

    <ul>
        <li>{{ comment.comment }}</li>

    </ul>

    {% empty %}
    <li>No comments yet!</li>
{% endfor %}

</ul>
<form action="{% url 'listing' listing.id %}" method="post">
    {% csrf_token %}
    <input type="text" name="new_comment" placeholder="Comment here">
</form>

{% endblock %}
