{% extends "auctions/layout.html" %}

{% block body %}

    <h2 id="title">Register</h2>
    <hr>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="name-form">
            <!-- Username -->
            <input autocomplete="off" autofocus type="text" name="username" placeholder="Username" required>

            <!-- First name (optional)-->
            <input autocomplete="off" type="text" name="first_name" placeholder="First Name">

            <!-- Last name (optional)-->
            <input autocomplete="off" type="text" name="last_name" placeholder="Last Name">


            <!-- Email -->
            <input autocomplete="off" type="email" name="email" placeholder="Email Address" required>


            <!-- Password -->
            <input autocomplete="off" type="password" name="password" placeholder="Password" required>

            <!-- Confirmation -->
            <input autocomplete="off" type="password" name="confirmation" placeholder="Confirm Password" required>


        <input type="submit" value="Register">
        </div>
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}
