{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

<h1 id="title">{{ page_user.first_name }} {{ page_user.last_name }}</h1>
<hr>
<h2 id="subtitle">{{ page_user.username }}</h2>

<div class="info">
    <h2>Info</h2>
    <hr class="hr2">
    <ul class="about">
        <li>Email: {{ page_user.email }}</li>


    </ul>
</div>
<h3 class="listing-title">User listings</h3>
{% if request.user.username == page_user.username %}
    <div class='btn-container'>
    <a href="{% url 'new' %}" class="btn-new">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <i class="fas fa-plus"></i>
        Add Auction

    </a>
</div>
        
{% endif %}

{% endblock %}
