{% extends "auctions/layout.html" %}
{% block body %}

<h1>{{ page_user.first_name }} {{ page_user.last_name }}</h1>
<h2>Username: {{ page_user.username }}</h2>
{% if request.user.username == page_user.username %}
    <a href="{% url 'new' %}">Add Auctions</a>
        
{% endif %}

<ul>
    <li>Email: {{page_user.email}}</li>

</ul>
<h2>Listings:</h2>
<ul>
    {% for listing in user_listings %}
        <li>
            <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
            {% if page_user.username == request.user.username %}
            <p>Edit</p>
            <p>Delete</p>
            {% endif %}

        </li>
        {% empty %}
        <li>No active Listings.</li>

    {% endfor %}
</ul>





{% endblock %}
