{% extends "mail/layout.html" %}
{% load static %}


{% block body %}
<div id="message">
    
</div>


    <div id="menu">
        <h2>{{ request.user.email }}</h2>
        
        <button class="menu-btn" id="inbox">Inbox</button>
        <button class="menu-btn" id="compose">Compose</button>
        <button class="menu-btn" id="sent">Sent</button>
        <button class="menu-btn" id="archived">Archived</button>
        
        <a href="{% url 'logout' %}"><button class="menu-btn">Log Out</button></a>
        <h1 id="message"></h1>
    </div>


    <div id="emails-view">

    </div>
    <div id="mail-view">

    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form" method = "post">
            {% csrf_token %}
                <!-- Sender -->
                <label for="sender">From:</label>
                <input name="sender" disabled class="form-control" value="{{ request.user.email }}">

                <!-- Recipients -->
                <label for="compose-recipients">To:</label>
                <input name="compose-recipients" id="compose-recipients" class="form-control" placeholder="Recipients">

                <!-- Subject -->
                <label for="compose-subject">Subject:</label>
                <input maxlength="40" name="compose-subject" class="form-control" id="compose-subject" placeholder="Subject">
                
                <!-- Body -->
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary" id="send_mail"/>
        </form>
            
    </div>
{% endblock %}

{% block script %}
   <script src="{% static 'mail/main.js' %}"></script>
{% endblock %}
