{% extends "mail/layout.html" %}

{% block body %}

    
    <h1 id="title">Login</h1>

    {% if message %}
        <div class="danger">{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-container">
            <input autofocus class="login-form" type="email" name="email" placeholder="Email">
            <input class="login-form" type="password" name="password" placeholder="Password">
        <input class="login-form" type="submit" value="Login">
</div>
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}