{% extends "mail/layout.html" %}

{% block body %}

    <h1 id="title">Register</h1>

    {% if message %}
        <div class="danger">{{ message }}</div>
    {% endif %}
    

    <form id="form-form" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-container">
            <input class="login-form" type="email" name="email" placeholder="Email Address" autocomplete="off">
        </div>
        <div class="form-container">
            <input class="login-form" type="password" name="password" placeholder="Password" autocomplete="off">
        </div>
        <div class="form-container">
            <input class="login-form" type="password" name="confirmation" placeholder="Confirm Password" autocomplete="off">
        </div>
        <input class="login-form" type="submit" value="Register">
        <div class="form-container">Already have an account? <a href="{% url 'login' %}">Log In here.</a></div>
        
    </form>


{% endblock %}