#post-container {
    display: block;
}



.post-div {

    animation-name: show;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    text-align: center;
    position: relative;
}


.hide-post {
    animation-name: hide;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-duration: 6s;
    text-align: center;
    position: relative;
}

@keyframes hide {
    0% {
        left: 0%;
        opacity: 1;
        
    }
    100% {
        left: -100%;
        opacity: 0;
    }
}


@keyframes show {
    0% {
        opacity: 0;
        left: 100%;
    }

    100% {
        opacity: 1;
        left: 0%;
    }
}