#post-container {
    display: block;
}

.show-post {
    left: 0%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           

.post-div {

    animation-name: show;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-duration: 2s;                                                                                                                                                                                                                                                                                                                                                                     
    text-align: center;                 
    position: relative;                 
    display: flex;
    flex-flow: column wrap;

}


.hide-post {
    animation-name: hide;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: column wrap;
}

@keyframes hide {
    0% {
        height: 100%;
        left: 0%;
        opacity: 1;
        
    }
    100% {
        height: 0%; 
        left: -100%;
        opacity: 0;
    }
}


@keyframes show {
    0% {
        opacity: 0;
        left: 100%;
    }

    100% {
        opacity: 1;
        left: 0%;
    }
}