@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
* 
{
    font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar-track 
{
    background: white;
}
body::-webkit-scrollbar-thumb
{
    background: #1da1f2;
}
body::-webkit-scrollbar
{
    width: 0.25rem;
}

textarea 
{
    position: relative;
    width: 100%;
    min-height: 200px;
    text-align: justify;
    padding: 20px;
    align-self: center;
    line-height: 20px;
    font-size: 16px;
    transform: translateX(-50%);
    left: 50%;
}


.edit-div 
{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: center;

}



#post-container 
{
    display: flex;
    flex-direction: column; 
    margin-top: 5vh;
}


.show-post 
{
    left: 0%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           

.post-div 
{
    animation-name: show;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-duration: 2s;                                                                                                                                                                                                                                                                                           
    position: relative;               
    display: flex;
    flex-flow: column wrap;
    border: 1px solid black;
    margin-top: 20px;
    padding: 50px;
    width: 80%;
    align-self: center;
    word-wrap: break-word;

}
.post-body 
{
    text-align: justify;
    max-width: 100%;
}

.post-div:hover 
{
    transition-delay: 2s;
}

.publication-details 
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.author 
{
    font-size: 20px;
    color: #1da1f2;
    text-decoration: none;
}

.author:hover 
{
    text-decoration: underline;
}

.post-div h3 
{
    font-weight: 600; 
}

.edit 
{
    align-self: center;
    width: 300px;
    height: 50px;
    background: none;
    cursor: pointer;    
    position: relative;
    text-transform: uppercase;
    border: 1px solid black;
    transition: all 1s ease;
}

.edit::before 
{
    content: "";
    width: 0px;
    height: 100%;
    background: #1da1f2;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    overflow: hidden;
    transition: width 1s ease;
    transform: translateX(-50%);
}

.active 
{
    color: #1da1f2;
}

.off 
{
    color: #aaaaca;
}

.static 
{
    color: black;
    pointer-events: none;
}


.following
{
    pointer-events: none;
}


.active, .off, .static
{
    font-size: 20px;

}

.active, .off 
{
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.active::before, .off::before 
{
    width: 0px;
    height: 5px;
    content: "";
    position: absolute;
    border-bottom: 2px solid #1da1f2;
    bottom: 0;
    right: 70px;
    z-index: -1;
    transition: width 1s ease;

}

.active:hover::before, .off:hover::before
{
    width: 60px;
}

#follow-btn-off
{
    border: 1px solid #e1e1e1;
    border-radius: 20px;
}

#follow-btn-active
{
    border: 1px solid #1da1f2;
    border-radius: 20px;
}


.post-div button 
{
    background: none;
    border: none;
    cursor: pointer;
    align-self: center;
    width: 200px;
}

.post-div button:focus 
{
    outline: none;
    border: none;
}


.btn-container 
{
    position: relative;
    align-self: center;
    width: 50%;
    justify-items: flex-start;
    justify-content: space-between;
    display: flex;
}

.edit:hover:before 
{
    width: 100%;
}

.edit:hover 
{
    color: white;
}

.hide-post 
{
    animation-name: hide;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-duration: 0.1s;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
}

#footer 
{
    position: relative;
    transform: translateX(-50%);
    left: 50vw;
    margin: 5vh 0;
    justify-content: space-between;
    width: 90%;
    height: 100px;
    align-items: center;
    display: flex;

}

#footer > button
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 50px;
    text-transform: uppercase;
    font-family: "Passion One", sans-serif;
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    position: relative;
    transition: 0.5s;
    padding: 10px;



}

#footer > button::before
{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    background: #1da1f2;
    transition: all 1s ease;
    transform: translateY(-50%);
}

#footer > button:hover::before
{
    height: 100%;
}

#footer > button:hover 
{
    color: white;
}

#footer > button:disabled
{
    border: gray;
    cursor: auto;
}

#footer > button:disabled:before
{
    background: #e1e1e1;
}
#footer > button:disabled:hover:before
{
    background: #e1e1e1;
}

#user_page
{
    border: none;
    margin-top: -3vh;
    width: 80%;
    position: relative;
    align-self: center;

}

.user-heading 
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
}

.user-heading h1
{
    margin-right: 20px;
}


.user-username 
{
    color: #e1e1e1;
}

.follow-container
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


@keyframes hide 
{
    0% 
    {
        left: 0%;
        opacity: 1;
    }
    25% 
    {
        opacity: 0;
        left: -100%;
    }
    100% 
    {
        height: 0px; 
        left: -100%;
        opacity: 0;
    }
}


@keyframes show 
{
    0% 
    {
        opacity: 0;
        left: 100%;
    }

    100% 
    {
        opacity: 1;
        left: 0%;
    }
}


