{% extends "network/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}
    {% if message %}
    <div id="message">{{ message }}</div>
    {% endif %}
    <h1 id="title">New post</h1>
    <div id="new-post">
        <form method="post">
            {% csrf_token %}
            <textarea id="post" name="post" maxlength="400"></textarea>
            <input class="submit-btn" id="publish" type="submit" value="Publish">  

        </form>

        
    </div>
    {% endif %}


    <div id="post-container"></div>
    <div id="footer"></div>

{% endblock %}