{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link href="{% static 'network/main.css' %}" rel="stylesheet">
        <script src="{% static 'network/main.js' %}"></script>
        <link rel="shortcut icon" href="{% static 'network/favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'network/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>

        <nav class="navbar">
            <a class="logo" href="#">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <strong><a class="nav-link" id="profile" href="#">{{ request.user.username }}</a></strong>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" id="following" href="#">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>