{% extends "network/layout.html" %}

{% block body %}
    {% if message %}
        <div id="message">{{ message }}</div>
    {% endif %}
    <h1 id="title">Register</h1>

    

    <form action="{% url 'register' %}" method="post" class="register">
        {% csrf_token %}
        <!-- First Name -->
        <div class="form-group">
            <input class="form-control" type="text" name="first" placeholder="Firstname">
        </div>

        <!-- Last Name -->
        <div class="form-group">
            <input class="form-control" type="text" name="last" placeholder="Last Name">
        </div>

        <!-- Username -->
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>

        <!-- Email -->
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>

        <!-- Password -->
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>

        <!-- Password Confirmation -->
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>


        <!-- Submit button -->
        <input class="submit-btn" type="submit" value="Register">
    </form>

    <p id="bottom-line">Already have an account? <a href="{% url 'login' %}">Log In here.</a></p>

{% endblock %}